@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600;700;800,900&display=swap');

/*@media screen and (max-width:905px) {
    .vertical-responsive {
        flex-direction: column;
        align-items: center;
    }

    .responsive-separation {
        margin-bottom: 15px;
    }

    input {
        margin-top: 15px;
    }
}

@media screen and (min-width:905px) {
    .responsive-separation {
        margin-right: 20px;
    }

    input {
        margin-left: 15px;
    }
}*/

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background: #000000;
    font-family: consolas;
    flex-direction: column;
    flex-wrap: wrap;
}

h1 {
    font-size: 48px;
    margin-top: 2%;
    margin-bottom: 5%;
}

h2 {
    font-size: 37px;
    margin: 0;
}

h3 {
    margin: 0;
    font-size: 25px;
    margin-bottom: 15px;
}

p {
    margin: 0;
}

input {
    width: 59px;
    height: 21px;
    margin-left: 15px;
    color: white;
    background: black;
    border: none;
    border-radius: 5px;
    border: 2px solid #1e1f23;
}


.text {
    text-align: center;
    color: white;
}

.big-text {
    font-size: 20px;
}

.italic {
    font-style: italic;
}

.vertical {
    flex-direction: column;
    align-items: center;
}

.separation {
    margin-bottom: 15px;
}

.guild-box {
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
                inset -5px -5px 15px rgba(255,255,255,0.1),
                5px 5px 15px rgba(0,0,0,0.3),
                -5px -5px 15px rgba(255,255,255,0.1);
    border-radius: 15px;
    margin-bottom: 50px;
}

.guild-container {
    margin: 20px;
    background: #2a2b2f;
    border-radius: 15px;
    border: 2px solid #1e1f23;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}

.guild-content {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.vertical-content {
    flex-direction: column;
}

.little-box {
    max-width: 400px;
}

.guild-logo img {
    margin-top: 10px;
    height: 70px;
    width: 70px;
    display: inline-block;
}

.guild-title {
    margin-right: 20px;
}

.text-left {
    text-align: left;
}

.to-bottom {
    margin-top: 25px;
}

.horizontal-centered {
    align-items: center;
}

.block {
    display: inline-block;
}

.green {
    color: greenyellow;
}

.red {
    color: red;
}

#soleil-rouge .guild-title {
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(64,0,0,1) 50%, rgba(255,0,0,1) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #fff;
}

#foret-blanche .guild-title {
    font-size: 38px;
}

#ruisseau-bleu .guild-title {
    background: linear-gradient(90deg, rgba(0,255,255,1) 0%, rgba(0,111,255,1) 50%, rgba(0,255,255,1) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #fff;
}

#empire-des-ombres .guild-title {
    font-size: 33px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(128,128,128,1) 50%, rgba(0,0,0,1) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #fff;
}

.flag {
    height: 175px;
    width: auto;
}

#return {
    /*position: relative;
    top: 30px;
    left: 30px;*/
    color: white;
    text-decoration: none;
    font-size: 25px;
    align-self: flex-start;
    margin: 20px;
    margin-left: 30px;
    transition: 0.3s;
}

#return:hover {
    color: red;
    transition: 0.3s;
}