@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600;700;800,900&display=swap');
/*@media screen and (max-width:905px) {
    .vertical-responsive {
        flex-direction: column;
        align-items: center;
    }

    .responsive-bottom-separation {
        margin-bottom: 15px;
    }

    input {
        margin-top: 15px;
    }
}

@media screen and (min-width:905px) {
    .responsive-bottom-separation {
        margin-right: 20px;
    }

    input {
        margin-left: 15px;
    }
}*/

body * {
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background: #0d1117;
    font-family: consolas;
    flex-direction: column;
    flex-wrap: wrap;
}

h1 {
    font-size: min(48px,9vw);
    margin-top: 2%;
    margin-bottom: 5%;
    color: rgb(232, 230, 227);
}

h2 {
    font-size: 37px;
    margin: 0;
}

h3 {
    margin: 0;
    font-size: 25px;
    margin-bottom: 15px;
}

p {
    margin: 0;
}

input {
    width: 59px;
    height: 21px;
    margin-left: 15px;
    color: rgb(232, 230, 227);
    background: black;
    border: none;
    border-radius: 5px;
    border: 2px solid #1e1f23;
}

table {
    color: rgb(232, 230, 227);
    border: solid rgb(232, 230, 227) 2px;
    border-spacing: 0px;
    text-align: center;
    border-radius: 10px;
    max-width: 85vw;
}

th {
    font-size: 22px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.2);
}

td {
    font-size: clamp(10px, 3vw, 18px);
    padding: 10px 5px;
    background: rgba(255, 255, 255, 0.1);
}

.top-border {
    border-top: solid rgb(232, 230, 227) 2px;
}

.right-border {
    border-right: solid rgb(232, 230, 227) 2px;
}

.chart {
    width: 600px;
    background: rgba(232, 230, 227, 0.9);
    padding: 20px;
    border-radius: 15px;
    max-width: 75vw;
}

.text {
    text-align: center;
    color: rgb(232, 230, 227);
}

.text:not(h1):not(h2) {
    font-size: min(16px,3.5vw);
}

.big-text {
    font-size: min(20px,5vw);
}

.italic {
    font-style: italic;
}

.vertical {
    flex-direction: column;
    align-items: center;
}

.bottom-separation {
    margin-bottom: 15px;
}

.big-bottom-separation {
    margin-bottom: 50px;
}

.right-separation {
    margin-right: 15px;
}

.left-separation {
    margin-left: 15px;
}

.ligne-separation {
    border: solid rgba(232, 230, 227, 0.9);
    border-image-outset: 15px;
    border-left: 1px;
}

.guild-box {
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
                inset -5px -5px 15px rgba(255,255,255,0.1),
                5px 5px 15px rgba(0,0,0,0.3),
                -5px -5px 15px rgba(255,255,255,0.1);
    border-radius: 15px;
    margin: 0 15px;
    margin-bottom: 50px;
}

.guild-container {
    margin: 20px;
    background: #2a2b2f;
    border-radius: 15px;
    border: 2px solid #1e1f23;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}

.guild-content {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.vertical-content {
    flex-direction: column;
}

.little-box {
    max-width: 400px;
}

.guild-logo img {
    margin-top: 10px;
    max-height: 70px;
    max-width: 70px;
    width: 14vw;
    height: auto;
    display: inline-block;
}

.guild-title {
    margin-right: 20px;
    font-size: clamp(24px, 7vw, 48px);
}

.text-left {
    text-align: left;
}

.to-bottom {
    margin-top: 25px;
}

.horizontal-centered {
    align-items: center;
}

.block {
    display: inline-block;
}

.green {
    color: greenyellow;
}

.red {
    color: red;
}

#soleil-rouge .guild-title {
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(64,0,0,1) 50%, rgba(255,0,0,1) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(232, 230, 227);
}

#foret-blanche .guild-title {
    font-size: clamp(24px, 7vw, 48px);
}

#ruisseau-bleu .guild-title {
    background: linear-gradient(90deg, rgba(0,255,255,1) 0%, rgba(0,111,255,1) 50%, rgba(0,255,255,1) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(232, 230, 227);
}

#empire-des-ombres .guild-title {
    font-size: clamp(15px, 5vw, 37px);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(128,128,128,1) 50%, rgba(0,0,0,1) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(232, 230, 227);
}

.flag {
    height: auto;
    width: 85%;
    max-width: 350px;
}

#return {
    /*position: relative;
    top: 30px;
    left: 30px;*/
    color: rgb(232, 230, 227);
    text-decoration: none;
    font-size: 25px;
    align-self: flex-start;
    margin: 20px;
    margin-left: 30px;
    transition: 0.3s;
}

#return:hover {
    color: red;
    transition: 0.3s;
}